<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Object</title>
</head>
<body>
    <h1>New Object</h1>
    <form action="{% url 'elk:create' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Create">
    </form>
    {% if obj %}
        <p>Created: {{ obj.content }}</p>
    {% endif %}

</body>
</html>