<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your object</title>
</head>
<body>
<h1>{{ object.id }} ~ {{ object.content }}</h1>
<br>
<p>Created: {{ object.creation }}</p>
<p>Updated: {{ object.update }}</p>
<br>
{% if confirm_delete %}
<p>Are you sure?</p>
<form action="{% url 'elk:delete' object.id %}" method="post">
    <input type="submit" value="Yes">
    <a href="{% url 'elk:details' object.id %}">No</a>
    {% csrf_token %}
</form>
{% else %}
<a href="{% url 'elk:delete' object.id %}">Delete</a>
{% endif %}
<hr>
<a href="{% url 'elk:list' %}">Go back</a>
</body>
</html>