<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Objects</title>
</head>
<body>
<h1>Your objects</h1>
<p>
    <a href="{% url 'elk:create' %}">Create new</a>
</p>
<hr>
<ul>
    {% for o in object_list %}
        <li><p>{{ o.content }}</p>
            <p>
                <a href="{% url 'elk:details' o.id %}">View</a>
                <a href="{% url 'elk:delete' o.id %}">Delete</a>
            </p>
        </li>
    {% empty %}
        <p>No objects yet.</p>
    {% endfor %}
</ul>
</body>
</html>